body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-size-xxl {
  font-size: 3em;
}

.font-size-xl {
  font-size: 2em;
}

.font-size-l {
  font-size: 1.5em;
}

.font-size-m {
  font-size: 1em;
}

.block {
  display: block;
  width: 100%;
  text-align: center;
}
